{% extends "base.html" %}
{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #23272b" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{% url 'core:home' %}">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">Menu<i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'core:home' %}#about">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'accounts:dashboard' %}">Painel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'core:home' %}#team">Equipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'core:home' %}#contact">Contato</a>
                    </li>
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/admin">Admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'accounts:logout' %}">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="row" style="background-color: whitesmoke">
        <div class="col-md-3 justify-content-md-center" style="padding-top: 150px">
            {% block menu_lateral_dashboard %}
                <div class="team-member">
                    {% if user.image %}
                        <img class="mx-auto rounded-circle" src="{{ user.image.url }}" alt=""/>
                    {% else %}
                        <img class="mx-auto rounded-circle" src="../../../static/img/perfil.png" alt="">
                    {% endif %}
                    <br><br>
                    <h6 style="color: black">{{ user.username }}</h6><br><br>

                    <a href="{% url 'accounts:edit' %}" style="color: orange">Atualizar dados</a><br>
                    <a href="{% url 'accounts:edit_password' %}" style="color: orange">Alterar Senha</a><br>
                </div>
            {% endblock %}
        </div>

        <div class="col-md-9">
            <section>
                {% for serv in servico %}
                    <div class="container">
                        <nav class="breadcrumb">
                            <a class="breadcrumb-item" href="{% url 'core:home' %}">Home</a>
                            <a class="breadcrumb-item" href="{% url 'accounts:dashboard' %}">Meu Painel</a>
                            <a class="breadcrumb-item" href="{% url 'services:myservices' %}">Meus Serviços</a>
                            <a class="breadcrumb-item" href="{% url 'services:myservices-details' pk=serv.pk %}">Mais Detalhes</a>
                        </nav>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="section-heading">Meus Serviços</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">

                                    <div class="row justify-content-md-center" style="padding-top: 20px">
                                        <div class="col-md-3">
                                            <label>
                                                Descrição/Serviço:
                                            </label>
                                        </div>
                                        <div class="col-md-7">
                                            <h6>
                                                {{ serv.descricao_servico }}
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-3">
                                            <label>
                                                Categoria:
                                            </label>
                                        </div>
                                        <div class="col-md-7">
                                            <h6>
                                                {{ serv.categoria.nome }}
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-3">
                                            <label>
                                                Tempo/Experiência:
                                            </label>
                                        </div>
                                        <div class="col-md-7">
                                            <h6>
                                                {{ serv.tempo_experiencia }} {{ serv.unid_tempo }}
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-3">
                                            <label>
                                                Descrição/Experiência:
                                            </label>
                                        </div>
                                        <div class="col-md-7">
                                            <h6>
                                                {{ serv.descricao_exp }}
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-3">
                                            <label>
                                                Valor(R$):
                                            </label>
                                        </div>
                                        <div class="col-md-7">
                                            <h6>
                                                {{ serv.valor }} por {{ serv.valor_servico }}
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-3">
                                            <label>
                                                Contato:
                                            </label>
                                        </div>
                                        <div class="col-md-7">
                                            <h6>
                                                {{ serv.usuario.telefone }}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer>

                            <div class="row justify-content-md-center">
                                <div class="col-md-2">
                                    <br>
                                    <ul class="list-inline social-buttons">
                                        <li class="list-inline-item ">
                                            <a href="{% url 'services:edit_services' pk=serv.pk %}">
                                                <i class="fa fa-edit" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="" data-toggle="modal" data-target="#confirma_exclusao">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </footer>
                    </div>

                    <!-- Modal Confirmar exclusão -->
                    <div class="modal fade" id="confirma_exclusao" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmação de exclusão</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Deseja excluir esse serviço?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <a href="{% url 'services:service_remove' pk=serv.pk %}">
                                        <button type="button" class="btn btn-primary">Excluir</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>

{% endblock %}