{% extends "base.html" %}
{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #23272b" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{% url 'core:home' %}">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">Menu<i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'core:home' %}#about">Sobre</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{% url 'accounts:dashboard' %}">Painel</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'core:home' %}#team">Equipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'core:home' %}#contact">Contato</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{% url 'accounts:logout' %}">Sair</a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{% url 'accounts:register' %}">Cadastrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="" data-toggle="modal"
                               data-target="#login">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {#    {% if messages %}#}
    {#        <div class="row" style="padding-top: 150px">#}
    {##}
    {#            {% for message in messages %}#}
    {#                <div class="col-lg-12">#}
    {#                    <div class="alert alert-danger alert-dismissible">#}
    {#                        <button class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>#}
    {#                        {{ message }}#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#            {% endfor %}#}
    {#        </div>#}
    {#    {% endif %}#}

    <div class="row" style="background-color: white">
        <div class="col-md-3 justify-content-md-center" style="background-color: whitesmoke; padding-top: 150px">
            <div class="container">

                <div class="row justify-content-md-center text-center">
                    <h4 class="section-heading">Buscar</h4>
                </div>

                <form method="post">
                    {% csrf_token %}
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-12">
                            <label>Descrição</label>
                            <input type="text" name="descricao" class="form-control">
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-12">
                            <label>Categoria</label>
                            <select class="form-control" name="categoria">
                                <option value="" selected>Selecione ...</option>
                                {% for cat in categoria %}
                                    <option value="{{ cat.nome }}">{{ cat.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-12">
                            <label>Estado</label>
                            <select id="estados" class="form-control" name="estado">
                                <option value="" selected>Selecione um estado...</option>
                                {% for estado in estados %}
                                    <option value="{{ estado.uf }}">{{ estado.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-12">
                            <label>Cidade</label>
                            <select id="cidades" class="form-control" name="cidade">
                                <option value="" selected>Selecione uma cidade...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                    <br><br>
                </form>

            </div>

        </div>

        <div class="col-md-9">
            <section>
                {% if messages %}
                    <div class="row">

                        {% for message in messages %}
                            <div class="col-lg-12 text-center">
                                <div class="alert alert-danger alert-dismissible">
                                    <button class="close" data-dismiss="alert" aria-label="close"><span
                                            aria-hidden="true">&times;</span></button>
                                    {{ message }}
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                {% endif %}
                <div class="container">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="{% url 'core:home' %}">Home</a>
                        {% if user.is_authenticated %}
                            <a class="breadcrumb-item" href="{% url 'accounts:dashboard' %}">Meu Painel</a>
                            <a class="breadcrumb-item active">Lista Serviços</a>
                        {% else %}
                            <a class="breadcrumb-item active">Lista Serviços</a>
                        {% endif %}
                    </nav>

                    <div class="row justify-content-md-center">
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Serviços Listados</h2>
                            <br>
                        </div>
                    </div>
                </div>
                {% block busca_content %}
                    <div class="container">
                        {% for servico in servicos %}
                            <div class="row justify-content-md-center">
                                    <div class="col-md-4" style="background-color: white">
                                        <div class="row">
                                            <h6 class="font-italic">
                                                {{ servico.usuario }}
                                            </h6>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <p>
                                                {{ servico.usuario.cidade }} / {{ servico.usuario.estado }}
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="row">
                                            <h6 class="section-subheading">
                                                {{ servico.descricao_servico }}
                                            </h6>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <h6 class="section-subheading" style="color: #bd2130">
                                                Valor: {{ servico.valor }}
                                            </h6>
                                        </div>
                                    </div>

                                    <div class="col-md-3 justify-content-md-center" style="background-color: white">
                                        {% if user.is_authenticated %}
                                            <a class="btn btn-link js-scroll-trigger"
                                               href="{% url 'services:mais_detalhes' pk=servico.pk %}">Mais detalhes</a>
                                        {% else %}
                                            <a class="btn btn-link js-scroll-trigger" href="" data-toggle="modal"
                                               data-target="#login">Mais detalhes</a>
                                        {% endif %}
                                    </div>

                                <br>
                                <hr size="10" width="90%">
                                <br>

                            </div>
                        {% empty %}
                            <div class="row justify-content-md-center">
                                <div class="col-md-12 text-center">
                                    <p>Nenhum serviço cadastrado</p>
                                </div>
                            </div>
                        {% endfor %}

                        {% if servicos.has_other_pages %}
                            <nav aria-label="">
                                <ul class="pagination justify-content-center">
                                    {% if servicos.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ servicos.previous_page_number }}">Anterior</a>
                                        </li>
    {#                                {% else %}#}
    {#                                    <li class="page-item disabled"><span>Anterior</span></li>#}
                                    {% endif %}
                                    {% for i in servicos.paginator.page_range %}
                                        {% if servicos.number == i %}
                                            <li class="page-item active">
                                                <span class="page-link">{{ i }} <span class="sr-only">(current)</span>
                                                </span>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if servicos.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ servicos.next_page_number }}">Próximo</a>
                                        </li>
    {#                                {% else %}#}
    {#                                    <li class="page-item disabled"><span>Próximo</span></li>#}
                                     {% endif %}
                                 </ul>
                            </nav>
                        {% endif %}
                    </div>
                {% endblock %}


            </section>
        </div>
    </div>

    <!-- Modal -->
    <div id="login" class="modal fade bs-example-modal-md" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form-horizontal text-center" action="{% url 'services:login' %}" method="post">
                        {% csrf_token %}

                        <div class="container">

                            <div class="col-sm-10-">
                                <label>Email</label>
                                {#                                <input type="text" name="username" class="form-control text-center">#}
                                {{ form_login.email }}
                            </div>
                            <div class="col-sm-10-">
                                <label>Senha</label>
                                {#                                <input type="password" name="password" class="form-control text-center">#}
                                {{ form_login.password }}
                            </div>
                            <br>
                            <div class="col-sm-4-">
                                <button type="submit" class="btn btn-info">Entrar</button>
                            </div>
                            <p>
                                <a href="{% url 'accounts:register' %}" title="">Não sou cadastrado</a><br/>
                                <a href="{% url 'accounts:password_reset' %}" title="">Esqueci minha senha</a><br/>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $("#estados").change(function () {
            var uf = $(this).val();

            $.ajax({
                url: '/conta/get_cidades/' + uf,
                dataType: 'json',
                success: function (dataReturn) {
                    $("#cidades").html(dataReturn.cidades);
                    document.getElementById("cidades").disabled = false;
                }
            });
        });
    </script>
{% endblock %}