{% extends "accounts/dashboard.html" %}
{% block menu_lateral_dashboard %}
    <div class="team-member">
        {% if user.image %}
            <img class="mx-auto rounded-circle" src="{{ user.image.url }}" alt=""/>
        {% else %}
            <img class="mx-auto rounded-circle" src="../../../static/img/perfil.png" alt="">
        {% endif %}
        <br><br>
        <h6 style="color: black">{{ user.username }}</h6><br><br>

        <a href="{% url 'accounts:edit' %}" style="color: orange">Atualizar dados</a><br>
        <a href="{% url 'accounts:edit_password' %}" style="color: orange">Alterar Senha</a><br>
    </div>
{% endblock %}

{% block dashboard_content %}

    <!-- Formulário para alterar senha -->

    <section id="">
        <div class="container">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="{% url 'core:home' %}">Home</a>
                <a class="breadcrumb-item" href="{% url 'accounts:dashboard' %}">Meu Painel</a>
                <a class="breadcrumb-item active">Alterar Senha</a>
            </nav>
            <div class="row text-center">
                <div class="col-md-12">
                    <!-- Mensagem de sucesso -->
                    {% if messages %}
                        <div class="intro-text">
                            <div class="row">
                                {% for message in messages %}
                                    <div class="col-lg-12">
                                        <div class="alert alert-success alert-dismissible">
                                            <button class="close" data-dismiss="alert" aria-label="close"><span
                                                    aria-hidden="true">&times;</span>
                                            </button>
                                            {{ message }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">Alterar Senha</h2>
                    <br>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.errors }}
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-5">
                        <label>Senha antiga:</label>
                        {{ form.old_password }}
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-5">
                        <label>Nova Senha:</label>
                        {{ form.new_password1 }}
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-5">
                        <label>Confirmar nova senha:</label>
                        {{ form.new_password2 }}
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}