{% extends "accounts/dashboard.html" %}
{% block menu_lateral_dashboard %}
    <div class="team-member">
        {% if user.image %}
            <img class="mx-auto rounded-circle" src="{{ user.image.url }}" alt=""/>
        {% else %}
            <img class="mx-auto rounded-circle" src="../../../static/img/perfil.png" alt="">
        {% endif %}
        <br><br>
        <h6 style="color: black">{{ user.username }}</h6><br><br>

        <a href="{% url 'accounts:edit' %}" style="color: orange">Atualizar dados</a><br>
        <a href="{% url 'accounts:edit_password' %}" style="color: orange">Alterar Senha</a><br>
        <a href="{% url 'services:myservices_list_update' %}" style="color: orange">Atualizar serviços</a>
    </div>
{% endblock %}

{% block dashboard_content %}

    <section>
        <!-- formulario de atualização-->
        <div class="container">

            <div class="row text-center">
                <div class="col-md-12">
                    <!-- Mensagem de sucesso -->
                    {% if messages %}
                        <div class="intro-text">
                            <div class="row">
                                {% for message in messages %}
                                    <div class="col-lg-12">
                                        <div class="alert alert-success alert-dismissible">
                                            <button class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span>
                                            </button>
                                            {{ message }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">Atualizar Cadastro</h2>
                    <br>
                </div>
            </div>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.errors }}

                <div class="form-row">

                    <div class="form-group col-md-12">

                        <div class="form-row justify-content-md-center">
                            <div class="form-group col-md-5">
                                <label>Usuário</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group col-md-5">
                                <label>Telefone</label>
                                {{ form.telefone }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-5">
                            <label>Estado</label>
                            <select id="estados" class="form-control" name="estado">
                                <option value="" selected>Selecione um estado...</option>
                                {% for estado in estados %}
                                    <option value="{{ estado.uf }}">{{ estado.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-5">
                            <label>Cidade</label>
                            <select id="cidades" class="form-control" name="cidade" disabled"></select>
                        </div>
                    </div>
                    </div>
{#                    <div class="form-group col-md-12">#}
{#                        <div class="form-row justify-content-md-center">#}
{#                            <div class="form-group col-md-5">#}
{#                                <label>Estado</label>#}
{#                                {{ form.estado }}#}
{#                            </div>#}
{#                            <div class="form-group col-md-5">#}
{#                                <label>Cidade</label>#}
{#                               {{ form.cidade }}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="form-group col-md-12">
                        <div class="form-row justify-content-md-center">
                            <div class="form-group col-md-5">
                                <label>Rua</label>
                                {{ form.rua }}
                            </div>
                            <div class="form-group col-md-5">
                                <label>Número</label>
                                {{ form.numero }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="form-row justify-content-md-center">
                            <div class="form-group col-md-5">
                                <label>Bairro</label>
                                {{ form.bairro }}
                            </div>
                            <div class="form-group col-md-5">
                                <label>Foto/Perfil</label>
                                {{ form.image }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="form-row justify-content-md-center">
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>

{% endblock %}



{% block scripts %}
    <script>

        $(document).ready(function() {
            var uf = document.getElementById("estados").value = '{{ form.estado.value }}';

            $.ajax({
                url: '/conta/get_cidades/' + uf,
                dataType: 'json',
                success: function (dataReturn) {
                    $("#cidades").html(dataReturn.cidades);
                    document.getElementById("cidades").value = '{{ form.cidade.value }}';
                }
            });

            document.getElementById("cidades").value = '{{ form.cidade.value }}';
        });

        $("#estados").change(function () {
            var uf = $(this).val();

            $.ajax({
                url: '/conta/get_cidades/' + uf,
                dataType: 'json',
                success: function (dataReturn) {
                    $("#cidades").html(dataReturn.cidades);
                    document.getElementById("cidades").disabled = false;
                }
            });
        });
    </script>
{% endblock %}