{% extends "base.html" %}
{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: #23272b" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{% url 'core:home' %}">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">Menu<i class="fa fa-bars"></i>
            </button>
        </div>
    </nav>

    <!-- formulario -->
    <section id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% if sucess %}
                        <p>Sua senha foi criada com sucesso</p>
                    {% else %}
                    <h2 class="section-heading">Recuperar senha</h2>
                    <br>
                </div>
            </div>
             <form  method="post">
                {% csrf_token %}
                {{ form.errors }}

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-5">
                        <label>Nova Senha:</label>
                            {{ form.new_password1 }}
                    </div>
                </div>

                 <div class="form-row justify-content-center">
                    <div class="form-group col-md-5">
                        <label>Confirmar nova senha:</label>
                            {{ form.new_password2 }}
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
{#                <div class="form-row justify-content-center">#}
{#                    <div class="form-group col-md-5">#}
{#                        <label>Senha</label>#}
{#                            {{ form. }}#}
{#                    </div>#}
{#                    <div class="form-group col-md-5">#}
{#                        <label>Confirme a senha</label>#}
{#                            {{ form.password2 }}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="form-row justify-content-center">#}
{#                    <button type="submit" class="btn btn-primary">Alterar</button>#}
{#                </div>#}
            </form>
            {% endif %}
        </div>
    </section>

{% endblock %}