{% extends "base.html" %}
{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: #23272b" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{% url 'core:home' %}">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">Menu<i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'core:home' %}#about">Sobre</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{% url 'accounts:dashboard' %}">Painel</a>
                        </li>
                    {% endif %}


                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'core:home' %}#team">Equipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'core:home' %}#contact">Contato</a>
                    </li>

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{% url 'accounts:logout' %}">Sair</a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{% url 'accounts:register' %}">Cadastrar</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- formulario -->
    <section id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Formulário de Cadastro</h2>
                    <br>
                </div>
            </div>

            <form  method="post">
                {% csrf_token %}
                {{ form.errors }}

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-10 ">
                        <label>Email</label>
                        <label style="color: red">*</label>
                            {{ form.email }}
                        <span class="helptext">{{ form.subject.help_text }}</span>

                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-5">
                        <label>Senha</label>
                        <label style="color: red">*</label>
                            {{ form.password1 }}
                    </div>
                    <div class="form-group col-md-5">
                        <label>Confirme a senha</label>
                        <label style="color: red">*</label>
                            {{ form.password2 }}
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-5">
                        <label>Nome Completo</label>
                        <label style="color: red">*</label>
                            {{ form.username }}
                    </div>
                    <div class="form-group col-md-5">
                        <label>Sexo</label>
                        <label style="color: red">*</label>
                        <select class="form-control" name="sexo">
                            <option value="" selected>Selecione o sexo...</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-5">
                        <label>CPF</label>
                        <label style="color: red">*</label>
                            {{ form.cpf }}
                    </div>
                     <div class="form-group col-md-5">
                        <label>RG</label>
                        <label style="color: red">*</label>
                          {{ form.rg }}
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-5">
                        <label>Data de Nascimento</label>
                        <label style="color: red">*</label>
                            {{ form.dt_nasc }}
                    </div>
                     <div class="form-group col-md-5">
                        <label>Telefone</label>
                        <label style="color: red">*</label>
                          {{ form.telefone }}
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-5">
                        <label>Estado</label>
                        <label style="color: red">*</label>
                        <select id="estados" class="form-control" name="estado">
                            <option value="" selected>Selecione um estado...</option>
                            {% for estado in estados %}
                                <option value="{{ estado.uf }}">{{ estado.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <label>Cidade</label>
                        <label style="color: red">*</label>
                        <select id="cidades" class="form-control" name="cidade" disabled></select>
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-3">
                        <label>Bairro</label>
                        <label style="color: red">*</label>
                            {{ form.bairro }}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Rua</label>
                        <label style="color: red">*</label>
                            {{ form.rua }}
                    </div>
                     <div class="form-group col-md-3">
                        <label>Número</label>
                        <label style="color: red">*</label>
                            {{ form.numero }}
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script>
        $("#estados").change(function () {
            var uf = $(this).val();

            $.ajax({
                url: '/conta/get_cidades/' + uf,
                dataType: 'json',
                success: function (dataReturn) {
                    $("#cidades").html(dataReturn.cidades);
                    document.getElementById("cidades").disabled = false;
                }
            });
        });
    </script>
{% endblock %}