<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>TRABALHOCOM</title>

        <!-- Bootstrap core CSS -->
        <link href="../../../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="../../../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="../../../static/css/agency.css" rel="stylesheet">

    </head>


    <body id="page-top">
        <div class="content">

            {% block content %}{% endblock %}

            <!-- Footer -->
            <footer>

                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Trabalhocom.com 2017</span>
                    </div>
                    <div class="col-md-4">
{#                        <ul class="list-inline social-buttons">#}
{#                            <li class="list-inline-item">#}
{#                                <a href="#">#}
{#                                    <i class="fa fa-twitter"></i>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="list-inline-item">#}
{#                                <a href="#">#}
{#                                    <i class="fa fa-facebook"></i>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="list-inline-item">#}
{#                                <a href="#">#}
{#                                    <i class="fa fa-linkedin"></i>#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li class="list-inline-item">
                                <a href="#">Política de Privacidade</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">Termos de uso</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>


        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

        <!-- Plugin JavaScript -->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Contact form JavaScript -->
        <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
        <script src="{% static 'js/contact_me.js' %}"></script>
        <script src="{% static 'js/jquery.mask.js' %}"></script>
        <script src="{% static 'js/funcoes.js' %}"></script>

        <!-- Custom scripts for this template -->
        <script src="{% static 'js/agency.min.js' %}"></script>

        {% block scripts %}

        {% endblock %}

    </body>

</html>